.statistics {
  display: block;
  justify-content: center;
  padding: 30px;
  margin: 0 auto;
  max-width: 1200px;
  justify-content: center;
  align-items: center;
  font-size: 40;
  color: #010101;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40;
  color: #010101;
}

.boxButton {
  display: flex;
  justify-content: center;
}

.btnGood,
.btnNeutral,
.btnBad {
  display: inline-block;
  box-sizing: border-box;
  padding: 0 25px;
  margin: 0 15px 15px 0;
  outline: none;
  border: 1px solid #fff;
  border-radius: 50px;
  height: 46px;
  line-height: 46px;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  color: #444;
  background-color: #fff;
  box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 8%);
  cursor: pointer;
}

.btnBad {
  margin-right: 0;
}

.boxStatistics {
  display: flex;
  flex-flow: column;
  margin: auto;
  line-height: 46px;
  font-size: 24px;
  font-weight: 600;
  text-align: start;
  margin-left: 500px;
}

.textGood,
.textNeutral,
.textBad,
.textTotal,
.textPositiveFeedback {
  margin-bottom: 0px;
  margin-top: 0px;
}
